<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846558151714-sgsip7c2nm3sladc0lklvuefgtv68cl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846558151714-sgsip7c2nm3sladc0lklvuefgtv68cl9</string>
	<key>API_KEY</key>
	<string>AIzaSyDvTGUEf3a1hGStgZSWrvkgrTS_W9laVGM</string>
	<key>GCM_SENDER_ID</key>
	<string>846558151714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harsh082ip.newsburst.newsburst</string>
	<key>PROJECT_ID</key>
	<string>newsburst-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>newsburst-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846558151714:ios:25dad2e82e04533c58b67b</string>
</dict>
</plist>